[Desktop Entry]
Version=1.0
Type=Application
# TODO: Change Name and Comment to match your project
Name=Launch
Comment=Launch container - Launch the application directly.
Exec=terminator --new-tab -e "bash -c 'source ~/.local/share/applications/doc-template/.env && ~/.local/share/applications/doc-template/launch_container.sh; exec bash'"
Terminal=false
Categories=Development;
